body{
    margin: 50px;
}

nav {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large  ;
}
p {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list {

    border-radius:5px ;
    width: 200px;
    background-color: bisque;
}
.list h3 { 
    padding-top: 10px;
}
.list li {
    margin-top: 4px;
    padding: 4px;
    font-size: larger;
}

